th,
td {
  text-align: left;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
}
th {
  background-color: #f3f4f6;
  font-weight: 600;
  color: #374151;
  cursor: pointer; /* Add a pointer cursor to indicate clickable columns */
}

#th.sorting_asc::after {
  content: " ↑"; /* Ascending arrow */
}

#th.sorting_desc::after {
  content: " ↓"; /* Descending arrow */
}

.extra-row {
  display: none;
  background-color: #f9f9f9;
}
.clickable-row {
  cursor: pointer;
}
.clickable-row:hover {
  background-color: #f3f4f6;
}
.full-text {
  white-space: normal;
  word-wrap: break-word;
}

/* Ensure the File Name column has a minimum width */
#th:nth-child(3) {
  min-width: 200px; /* Adjust this value to the desired minimum width */
  text-align: left; /* Align text to the left */
}

.file-section {
  margin-bottom: 40px; /* Adjust as needed */
}

td:hover,
tr:hover {
  background-color: #24151509;
}
